/**
 * Site header
 */
.site-header {
  font-family: $header-font-family;
  font-size: 1.2rem;
  min-height: 56px;
  background: #0080FF;
  color: #fff;

  padding: 1rem 2rem;
  display: flex;
  align-items: center;

  // Positioning context for the mobile navigation icon
  position: relative;
  

  .flex-right {
    margin-left: auto;
    text-align: right;
  }
  .social-media {
    text-align: center;
    font-size: 2rem;
  }
  a {
    text-decoration: none;


    &:link,
    &:visited {
      color: $alt-text-color;
    }
    &:hover,
    &:active {
      color: #f8f8f8;
    }

  }
  .social-media img {
    max-height: 2rem;
  }

}


.site-title {
  /*font-family: $header-font-family;*/
  font-size: 1.6em;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $alt-text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-family: $header-font-family;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.post-list {
  margin-left: 0;
  list-style: none;
  margin: auto;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 *  Home
 */
.post-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  max-width: 1920px;

  li {
    margin: 3em auto;
  }
}
.half-width {
  width: 50%;
  display: inline-block;
}


/**
 * About
 */

.about {

  img {
    width: 50%;
    float: left;
  }
}


/**
 * Posts
 */


.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  text-align: center;
  font-family: $header-font-family;
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  img {
    margin-bottom: $spacing-unit;
    max-height: 90vh;
    height: auto;
    display: block;
    margin: auto;
  }

}


@media only screen and (max-width: 960px) {
  h1 { font-size: 2.5rem; }
  h2 { font-size: 2rem; }
  h3 {
    font-size: 1.375rem;
    line-height: 1.2em;
  }
  h4 { font-size: 1.125rem; }

  .post-list {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .post-list li {
    width: 100%;
  }
  .site-header {
    text-align: center;
    flex-direction: column;
  }
  .site-header .flex-right {
    margin-top: 16px;
    margin-left: 0;
    text-align: center;
  }
  .post-list p, .post-list ul {
    line-height: 155%;
  }
  .post-list img.featured {
    max-width: 100%;
    margin-bottom: 32px;
  }


}




